#installButton {
  background: #FFD700;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s;
}

/* Formatting for text shown if browser unsupported */
#unsupportedText {

}

/* Hardware selection dropdown menu */
select {
  width: 250px !important; /* Force the width */
  max-width: 250px; /* Prevent it from stretching */
  padding: 8px;
  background: #444;
  color: #fff;
  border: 1px solid #00FFFF;
  border-radius: 4px;
  display: block; /* Ensures it doesn't behave oddly */
}

/* Full erase checkbox */
input {
  accent-color: #00FFFF;
}

/* Dropdown Container */
.dropdown-container {
  width: 270px; /* Slightly larger than the select for padding */
  padding: 10px;
  background: #333; /* Dark background */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #00FFFF; /* Electric blue border */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Make sure the select element fits inside nicely */
.dropdown-container select {
  width: 100%;
  background: #444;
  border: none;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
}
